

svg{

  overflow: visible;
}

.twf-tag{
  font-size: 15px;
  margin-top: -20px;
  padding-left: 20px;
  font-style: italic;
  color: #000000b0;

}

.header{
  width: 100%;
  display: flex;

}
.covid-img-cont{
  background-image: url("./images/covid.png");
  width: 30%;
  background-color: #0000000a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 450px) {
  .header-title{
    font-size: 24px;
    margin-bottom: 24px;
  }
  
  .header-sub{
font-size: 12px;
  }

  .twf-tag{
    font-size: 11px;
    margin-top: -20px;
    padding-left: 20px;
    color: #000000b0;
    font-style: italic;

  }


}


.covid-header-cont{
  width: 70%;
  height: 100%;
  background-color: #4f4e4d;
}

.header-title{
  color: white;
  padding-left: 20px;
  margin-top: 6px;
}

.header-sub{
  color: white;
  padding-left: 20px;
  margin-top: -20px;
}

a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.covid-img{
  color: black
}

.App {
  position: absolute;
  top: 0px;
  /* right: 0; */
  /* padding-right: 9px; */
  bottom: 0;
  /* margin-left: 54%; */
  /* padding-left: 10px; */
  height: 65%;
  width: 100%;
 
  z-index: 100;
}

.date-header{
  text-align: center;
  margin: 0;
  margin-top: -20px;
}

.graph-wrapper{
  width: 100%;
  height: 100%;
}

text {
  font-weight: 200;
  font-size: 14px !important;
}



.play-btn{
  border: none;
  position: relative;
  width: 50px;
  height: 50px;
  left: 20px;
  top: 0px;
  z-index: 9;
  border-radius: 50px;
  background-color: #fd070791;
}

button:disabled{
  background-color: #fd070791;
  opacity: 0.5;
}

.css-2b097c-container {
  z-index: 10;
  padding: 20px;
}

.loading{
  height: 100%;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: auto;
    position: absolute;
}

.loading > svg{
  color: black;
  stroke: #b74343;
  stoke: blue;
  width: 74px;
  margin-left: 0;
}
